.read_app {
$media-read__app: 760px;
  @media (max-width: $media-read__app) {
    &__features {
      flex-wrap: wrap;
      gap: 30px;
      flex-direction: column;
      padding-top: 50px;
    }

    &__description {
       max-width: 100%;
      text-align: center;
     }

    &__line {
      display: none;
    }

    &__lines {
     display: none;
    }
  }
}