$container-lg-width: 1235px;
$container-md-width: 920px;
$container-m-width: 888px;
$container-sm-width: 582px;
$container-normal-width: 761px;
$container-stats-width: 700px;
$container-blog-width: 1110px;
$container-life-width: 712px;

$main-font: 'Roboto', sans-serif;
$font-quicksand: 'Quicksand', sans-serif;
$font-openSans: 'OpenSans' , sans-serif;

$font-md: 15px;
$font-sm: 12px;
$font-s: 14px;
$font-stats: 18px;
$font-normal: 24px;
$font-very-sm: 10px;
$font-lg: 44px;
$font-very-lg: 48px;

$header_height: 83px;
$footer_height: 83px;
$banner_height: 590px;


$accent-color: #8D96BD;
$secondary-accent-color: #5E81FE;
$third-accent-color: #3A79FF;
$fourth-accent-color: #D2E1FF;
$text-color: #3D4F9F;
$border-color: #D8E3FE;